nav {
	background-color: #333;
	color: #fff;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav li {
	padding: 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

section.principal {
	text-align: center;
	margin: 50px;
}

section.principal img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
